.app-editor
  box-sizing: border-box
  position: absolute
  top: 0
  bottom: 0
  right: menuWidth
  left: 0

$app-panel
  position: absolute
  top: 0
  box-sizing: border-box
  height: 100%
  width: 50%
  overflow: hidden

.app-textarea-wrapper
  @extend $app-panel
  left: 0

.app-textarea-label
  $size = 60px
  position: absolute
  top: ($size / -2)
  right: ($size / -2)
  margin: 0
  width: $size
  height: $size
  vertical-align: bottom
  transform: rotate(45deg)
  background: #e0e0e0
  color: white
  font: 9px/2 font.sansSerif
  text-align: center
  pointer-events: none
  transition: background 0.3s
  > .text
    position: absolute
    bottom: 0
    left: 0
    right: 0

.app-textarea
  box-sizing: border-box
  display: block
  width: 100%
  height: 100%
  padding: 1em 2em
  background: transparent
  border: 0
  outline: 0
  font: 1rem/1.8 "Courier New", font.sansSerif
  font-size: 1rem
  line-height: 1.8
  resize: none
  background: #fafafa
  color: #424242
  transition: background 0.3s
  &:focus
    background: #FFF8E1
    + .app-textarea-label
      background-color: amber

.app-preview-wrapper
  @extend $app-panel
  right: 0
  overflow: hidden

.app-preview
  padding: 8px // to slimulate default body margin
  height: 100%
  overflow: auto
