.app-header
  position: absolute
  top: (10px - menuWidth)
  left: 0
  height: menuWidth
  transform: rotate(90deg)
  transform-origin: 0% 100%
  font: 200 24px/menuWidth "Raleway", sans-serif

.app-menu
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  padding: 0 0 10px

.app-menu-btn
  box-sizing: border-box
  display: block
  width: 100%
  height: menuWidth
  border-bottom: 1px solid #555
  color: inherit
  text-decoration: none
  cursor: pointer
  font-family: Raleway, sans-serif
  line-height: menuWidth
  transition: 0.3s
  outline: none
  &:hover,
  &:focus
    background: #616161

.btn-help
  font-size: 28px
  text-align: center

.btn-css
  padding: 0 8px
  &.on
    color: orange
  > .checkbox
    display: none
  > .label
    position: relative
    display: block
    width: 100%
    font-size: 10px
    text-align: right
    cursor: pointer
    > .first-letter
      position: absolute
      top: 50%
      left: 0
      transform: translatey(-45%)
      font-size: 28px
      line-height: 1

.btn-generate
  padding: 0
  border: none
  background: inherit
  display: flex
  justify-content: center
  > .svg
    width: 20px
    height: 20px

