@require nib

menuWidth = 40px
amber = #FFC107
orange = #FF9800

body
  margin: 0

.svg
  display: block
  max-width: 100%
  max-height: 100%
  fill: currentColor

.meditor
  position: relative
  width: 100vw
  height: 100vh

.app-panel
  position: absolute
  right: 0
  top: 0
  bottom: 0
  width: menuWidth
  background: #424242
  color: white


@require "header"
@require "editor"
@require "modal"
