.meditor-ui
  blue = #2196F3

  box-sizing: border-box
  background: white
  margin: 0
  padding: 1em 2em
  color: #333
  font: 14px/1.6 font.sansSerif
  -webkit-font-smoothing: subpixel-antialiased // reset for safari
  text-rendering: optimizelegibility

  h1, h2, h3, h4, h5, h6
    line-height: 1.2em
    margin: 0.8em 0 0.3em
  h1
    font-size: 1.6em
  h2
    font-size: 1.4em
  h3
    font-size: 1.2em
  h4
    font-size: 1em
  h5
    font-size: 0.9em
  h6
    font-size: 0.8em

  hr
    margin: 0
    border: 1px solid #E0E0E0
    border-width: 0 0 2px

  p, ul, ol
    margin: 0.8em 0

  a
    color: blue
    cursor: pointer
    transition: opacity 0.3s
    &:hover
      opacity: 0.8

  img, svg
    max-width: 100%

  blockquote
    overflow: hidden
    margin: 1em 0
    padding: 0 2em
    border-left: 4px #e0e0e0 solid
    font-style: italic

  pre
    margin: 1em 0
    padding: 1em 2em
    background: #fafafa
