extend base

block append stylesheet
  link(href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet")
  link(href="css/index.css", rel="stylesheet")
  link(href="css/meditor-ui.css", rel="stylesheet")
block append script-body
  script(src="js/index.js")

block content
  include icon.svg
  main#app.meditor
    .app-panel
      header.app-header Meditor
      nav.app-menu
        a.app-menu-btn.btn-help(href="http://www.markdown.jp/syntax/" target="_blank" title="記法紹介") ?
        div.app-menu-btn.btn-css(title="スタイルを利用する" v-bind:class="{'on': includeCss}")
          input#include_css(class="checkbox" type="checkbox" name="checkbox" v-model="includeCss")
          label.label(for="include_css")
            span.first-letter C
            |ss
        |<button id="show-modal" class="app-menu-btn btn-generate" @click="showModal = true" title="htmlを生成する">
        |  <svg class="svg svg-paper"><use xlink:href="#svg-paper"></use></svg>
        |</button>

    .app-editor
      div.app-textarea-wrapper
        textarea.app-textarea(v-model="input" debounce="500")
        h3.app-textarea-label: span.text editor
      div.app-preview-wrapper
        div.app-preview(v-html="input | marked" v-bind:class="{'meditor-ui': includeCss}")

    modal(:show.sync="showModal")
      textarea.app-sourcecode(slot="code" spellcheck="false") {{ input | tidy }}

  include modal.tpl
